In [1]:
import sys
sys.path.append("../scripts/")
from absenteeism_module import *
# load the model and scaler
model = absenteeism_model('model', 'scaler')
# preprocess the new dataset
model.load_and_clean_data('Absenteeism_new_data.csv')
# prediction output
model.predicted_outputs()

In [10]:
df= pd.read_csv('../data/Absenteeism_new_data.csv')
df.columns

Index(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets'],
      dtype='object')

In [6]:
import pymysql
import pandas as pd
from utils import var

In [2]:
conn = pymysql.connect(database = var['database'],
                        user = var['user'], password = var['password'])

In [3]:
cursor = conn.cursor()

In [4]:
qerry ="select * from  predicted_outputs;"
cursor.execute(qerry)

40

In [8]:
# after loading the data into the database
data=pd.read_sql("select * from  predicted_outputs;",con=conn)
data.head()

/var/folders/pr/k1cjyyh56sv6wyyxm023snx00000gn/T/ipykernel_86395/1150059437.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql("select * from  predicted_outputs;",con=conn)

,reason_1,reason_2,reason_3,reason_4,month_value,transportation_expense,age,body_mass_index,education,children,pet,probability,prediction
0,0,0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0,0,0,6,155,34,25,0,2,0,0.720861,1

# # Checkpoint 'df_new_obs'

In [9]:
df_new_obs = model.predicted_outputs()
df_new_obs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.873365,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.266253,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.198570,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.720861,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.713817,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.567672,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.131870,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.519472,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.456496,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.348951,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.122469,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.082994,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.166060,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.638528,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.498300,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.389155,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.498884,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.520056,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.051939,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.514372,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.349483,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.633413,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.243683,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.132138,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.492733,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.259972,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.966856,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.912676,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.749877,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.019429,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.262871,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.064846,0

In [11]:
df_new_obs.to_csv("db_handler/df_new_obs.csv",index=False)

## .execute()

In [10]:
cursor.execute('SELECT * FROM predicted_outputs;')

0

## Creating the INSERT Statement

In [10]:
insert_query = 'INSERT INTO predicted_outputs VALUES '

In [11]:
insert_query

'INSERT INTO predicted_outputs VALUES '

In [12]:
df_new_obs.shape

(40, 13)

In [13]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [14]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [15]:
for i in range(df_new_obs.shape[0]):
    insert_query += '(' 
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '

In [16]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733923470447209, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26830495460343223, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.1963853143922252, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7235017225544896, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7168905020985188, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5705238370679658, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.1341180540896835, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5250065611752316, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4549980207286245, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.3511076612078474, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.09653346354354148, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1894785903905003, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4997382716585921, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38953149469288995, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5001612226284468, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5123518738925141, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.35149320375017246, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24494273576137351, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4919621401501115, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26224032774538253, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.966560156232829, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9123989237228621, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7465975923060953, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.023089501687401086, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.29564748904572213, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.07644956838010682, 0), '

In [17]:
insert_query = insert_query[:-2] + ';'

In [18]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733923470447209, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.26830495460343223, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.1963853143922252, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7235017225544896, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7168905020985188, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5705238370679658, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.1341180540896835, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5250065611752316, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4549980207286245, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.3511076612078474, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.09653346354354148, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1894785903905003, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.4997382716585921, 0), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38953149469288995, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5001612226284468, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5123518738925141, 1), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.35149320375017246, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24494273576137351, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4919621401501115, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26224032774538253, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.966560156232829, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9123989237228621, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7465975923060953, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.023089501687401086, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.29564748904572213, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.07644956838010682, 0);'

In [19]:
cursor.execute(insert_query)

40

In [20]:
conn.commit()

In [21]:
conn.close()